body {
    font-family: Tahoma, Arial, sans-serif;
    color: #9ba2b2;
    background-color: #1a1d23;
    padding: 0;
    margin: 0;
}

header {
    background-color: #17191d;
    padding: 10px 10px;
}

main {
    padding: 0 10px;
}